.cpcache
.shadow-cljs
fulcro
*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.cljs_rhino_repl
.idea
.lein*
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl*
.nrepl-port
.repl
bin/publish-local
checkouts
classes
compiled
datahub.log*
figwheel_server.log
lib
node_modules
out
pom.xml
pom.xml*
pom.xml.asc
resources/private/js
resources/public/js
target
resources/public/getting-started.html
package-lock.json
resources/public/workspaces/*
!resources/public/workspaces/index.html
crux-store
