.cpcache
.shadow-cljs
*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.idea
.lein*
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl*
.nrepl-port
.repl
classes
compiled
lib
node_modules
out
resources/private/js
resources/public/js
target
package-lock.json
crux-store
