{:paths   ["src/main"]

 :deps    {com.taoensso/timbre              {:mvn/version "4.10.0"}
           com.taoensso/tufte               {:mvn/version "2.1.0"}
           com.wsscode/pathom               {:mvn/version "2.2.31"}
           com.wsscode/pathom-viz-connector {:mvn/version "1.0.3"}

           dv/cljs-emotion                  {:mvn/version "version-one"}

           org.clojure/core.async           {:mvn/version "1.2.603"}

           ring/ring-core                   {:mvn/version "1.8.1"}
           ring/ring-defaults               {:mvn/version "0.3.2"}

           ;; Pull api parsing
           datascript/datascript            {:mvn/version "0.18.11"}
           pro.juxt.crux/crux-core          {:mvn/version "1.18.1"}

           ;; Pedestal
           io.pedestal/pedestal.service     {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.5.8"}

           ;; Password hashing
           cryptohash-clj/cryptohash-clj    {:mvn/version "0.1.6"}

           ;; http requests for node.js
           funcool/httpurr                  {:mvn/version "2.0.0"}

           metosin/reitit                   {:mvn/version "0.5.2"}
           metosin/reitit-pedestal          {:mvn/version "0.5.2"}}

 :aliases {:test {:extra-paths ["test"]}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}}

           :jar       {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                       :main-opts  ["-m" "hf.depstar.jar" "dv.clj-utils.jar"]}

           :install   {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "dv.clj-utils.jar"]}

           :deploy    {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "dv.clj-utils.jar"]}

           :dev       {:extra-paths ["src/test" "src/dev" "src/workspaces"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]

                       :extra-deps  {;; Logging for pedestal, not sure if exclusion is necessary.
                                     ch.qos.logback/logback-classic      {:mvn/version "1.2.3"
                                                                          :exclusions  [org.slf4j/slf4j-api]}

                                     org.clojure/clojurescript           {:mvn/version "1.10.748"}
                                     org.clojure/test.check              {:mvn/version "1.0.0"}
                                     thheller/shadow-cljs                {:mvn/version "2.11.21"}
                                     com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
                                     ;; Formats spec explain.
                                     expound/expound                     {:mvn/version "0.8.4"}
                                     fulcrologic/fulcro-spec             {:mvn/version "3.1.4"}
                                     binaryage/devtools                  {:mvn/version "0.9.10"}
                                     com.github.awkay/workspaces         {:mvn/version "1.0.0-RC3"}
                                     org.clojure/tools.namespace         {:mvn/version "1.0.0"}}}}}
